img{
    height: 57px;
    color: #0F1111;
    background-color: green;
    width: 5%;
}
a{
    color: white;
}
.search-input{
    width: 540px;
}
nav{
    background-color: black;


}
.bttttn{
    background-color: black;
}
button{
  
    color: white;
    height: auto;
    border: none;

}
select{
        background-color: #e9ecef;
        border: none;
    }
    .btn{
        background-color: goldenrod;
    }
.img1{
   width: 30%;
   height: 25px;
}
.hellos{
    color: white;
}
.fa-shopping-cart{
    color: white;
    font-size: 20px;
}
.btttn{
    background-color: black;
}
#amazon1{
    background-color: black;
    ;
    color: white;
    
}
.span1{
    color: white;
}
a{
    background-color: black;
    color: black;
}
.img {
        height: 45px;
        color: #0F1111;
        background-color: green;
        width: 100%;
    }
    nav {
        height: 65px;
        background-color: black;
        width: 100%;
    }
    button[_ngcontent-ng-c2332877253] {
    color: white;
    border: none;
}