<nav class="navbar navbar-expand-lg">
    <img src="../../assets/images/Amazon-Logo.jpg" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <span class="navbar-text hellos ml-3">
                    Hey<br>
                    <i class="fa fa-map-marker"> </i>Select your address
                </span>
            <li class="nav-item mt-4 ml-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="search-icon">Amazon Fashion <select name="amazon"
                                id="amazon"></select></span>
                    </div>

                    <input type="text" class="form-control search-input" placeholder="Enter item name..." id="search">
                    <button type="button" class="btn btn-success bttn"><b><i class="fas fa-search"></i></b></button>

                </div>
            </li>
            <li class="nav-item mt-4 ml-5 ">
                <span class="span1">
                    <img src="../../assets/images/Flag-India.jpg" alt="" class="img1">EN<select name="amazon"
                        id="amazon1"></select></span>
            </li>
            <li class="nav-item">
                <span class="navbar-text hellos">
                    Hello, signIn<br>
                    <b>Account & Lists</b> <select name="amazon" id="amazon1"></select> </span>
            </li>
            <li class="nav-item  mt-2 ml-5">
                <span class="nav-item hellos"><b>Returns</b><br><b>& Orders</b></span>

            </li>
            <li class="nav-item mt-3 ml-5">
                <i class="fas fa-shopping-cart">Cart</i>
            </li>


        </ul>

    </div>
</nav>