<div class="row ">
    <nav class="navbar navbar-expand-lg">
        <button class="btttn"><img src="assets/images/Amazon-Logo.jpg" alt="" class="img ml-2">
        </button>
        <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarText">
            <div class="navbar-nav mr-auto mt-2">
                <li class="nav-item mt-2">
                    <button class="btttn ml-2 hellos">
                        Hey<br>
                        <i class="fa fa-map-marker"> </i>Select your address
                    </button>
                </li>
                <li class="nav-item mt-4 ml-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="search-icon">Amazon Fashion <select name="amazon"
                                    id="amazon"></select></span>
                        </div>

                        <input type="text" class="form-control search-input" placeholder="Enter item name..."
                            id="search">
                        <button type="button" class="btn btn-success bttn"><b><i class="fas fa-search"></i></b></button>

                    </div>
                </li>
                <li class="nav-item mt-4 ml-3 ">
                    <button class="btttn"><span><img src="assets/images/Flag-India.jpg" alt=""
                                class="img1">EN<select name="amazon" id="amazon1"></select></span></button>
                </li>
                <li class="nav-itemm mt-2 ml-3">
                    <button class="bttttn"> <span class="navbar-text hellos">
                            Hello, signIn<br>
                            <b>Account & Lists</b> <select name="amazon" id="amazon1"></select> </span></button>
                </li>
                <li class="nav-item  mt-2 ml-3">
                    <button class="btttn"> <span class="nav-item hellos"><b>Returns</b><br><b>& Orders</b></span>
                    </button>
                </li>
                <li class="nav-item mt-3 ml-5">
                    <button class="bttttn"> <i class="fas fa-shopping-cart">Cart</i>
                    </button>
                </li>


            </div>

        </div>
    </nav>
</div>