
<div class="row ml-2 ">
    <h2 class="ml-2">Flat 60% off |Women kurta and kurti for every occation <a href="####" class="ml-3">See all
            offers</a></h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active  ml-2">
                <img src="assets/images/kitchensupplimnets/61-n9xm48ZS._AC_SY200_k1.jpg" alt="" class="ml-3">
                <img src="assets/images/kitchensupplimnets/71DuB2zc4nL._AC_SY200_k2.jpg" alt="" class="ml-3">
                <img src="assets/images/kitchensupplimnets/81aSuztPuNL._AC_SY200_k3.jpg" alt="" class="vashine ml-3">
                <img src="assets/images/kitchensupplimnets/61t-HicZg2L._AC_SY200_k4.jpg" alt="" class="ml-3">
                <img src="assets/images/kitchensupplimnets/71gjszdT+AL._AC_SY200_k5.jpg" alt="" class="ml-3">
                
            </div>
            <div class="carousel-item  ml-2 ">
                <img src="assets/images/kitchensupplimnets/81QzlotCJEL._AC_SY200_k6.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/71nS1S-QmvL._AC_SY200_k7.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/51mVmUs7RyL._AC_SY200_k8.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/71NEXCqs8fL._AC_SY200_k9.jpg" alt="" class="ml-5">
                <img src="assets/images//kitchensupplimnets/81sSyLdmmPL._AC_SY200_k10.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/61Zq94wig4L._AC_SY200_k11.jpg"  class="ml-5">


            </div>
            <div class="carousel-item  ml-2">
                <img src="assets/images/kitchensupplimnets/71ks32qXdVL._AC_SY200_k12.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/51REvoRD7cL._AC_SY200_k13.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/81yVWfQxRFL._AC_SY200_k14.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/81vKsM-shhS._AC_SY200_k15.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/61-9yz-rOpL._AC_SY200_k16.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/710TuX99k2L._AC_SY200_k17.jpg" alt="" class="ml-5">
               


            </div>
            <div class="carousel-item  ml-2">
                <img src="assets/images/kitchensupplimnets/81hK+rvwPTL._AC_SY200_k18.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/518ulNwMTBL._AC_SY200_k19.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/41GiB7KbCuL._AC_SY200_k20.jpg" alt="" class="ml-5">
                <img src="assets/images/kitchensupplimnets/61Wot-kk5bL._AC_SY200_k21.jpg" alt="" class="ml-5">

               
            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
