<div class="row ml-2 ">
    <h2 class="ml-2">Flat 60% off |Women kurta and kurti for every occation <a href="####" class="ml-3">See all
            offers</a></h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ml-2">
                <img src="assets/images/41q0qP1TOgL._AC_SY200_kurti1.jpg" alt="" class="ml-5">
                <img src="assets/images/71PZVx3peZL._AC_SY200_kurti2.jpg" alt="" class="ml-5">
                <img src="assets/images/71pNzPqjU2L._AC_SY200_kurti3.jpg" alt="" class="vashine ml-5">
                <img src="assets/images/71CgfuTEdPL._AC_SY200_kurti4.jpg" alt="" class="ml-5">
                <img src="assets/images/612B8S-ujxL._AC_SY200_kurti5.jpg" alt="" class="ml-5">
                <img src="assets/images/71QE8Vtjh2L._AC_SY200_kurti6.jpg" alt="" class="ml-5">
                <img src="assets/images/713JejgO4WL._AC_SY200_kurti7.jpg" alt="" class="ml-5">
                <img src="assets/images/61w3R4ZQ9OL._AC_SY200_kurti8.jpg" alt="" class="ml-5">
                <img src="assets/images/61Ol0JZl-3L._AC_SY200_kurti9.jpg" alt="" class="ml-5">
                <img src="assets/images/71BtvLEAXXL._AC_SY200_kurti10.jpg" alt="">


            </div>
            <div class="carousel-item  ml-2 ">
                <img src="assets/images/71fWSrIqCJL._AC_SY200_kurti11.jpg" alt="" class="ml-5">
                <img src="assets/images/51BDVpWklHL._AC_SY200_kurti12.jpg" alt="" class="ml-5">
                <img src="assets/images/71-+sEndBoL._AC_SY200_kurti13.jpg" alt="" class="ml-5">
                <img src="assets/images/71YCH0putNL._AC_SY200_kurti14.jpg" alt="" class="ml-5">
                <img src="assets/images/81U4tfYj-xL._AC_SY200_kurti15.jpg" alt="" class="ml-5">
                <img src="assets/images/81OsEH7du5L._AC_SY200_kurti16.jpg" alt="" class="ml-5">
                <img src="assets/images/71Y0wr03gbL._AC_SY200_kurti17.jpg" alt="" class="ml-5">
                <img src="assets/images/51z9PVfB+aL._AC_SY200_kurti18.jpg" alt="" class="ml-5">
                <img src="assets/images/91UhuavifTL._AC_SY200_kurti19.jpg" alt="" class="ml-5">
                <img src="assets/images/51vg9UFoe4L._AC_SY200_kurti20.jpg" alt="" class="ml-5">
            </div>
            <div class="carousel-item  ml-2">
                <img src="assets/images/91UhuavifTL._AC_SY200_kurti19.jpg" alt="" class="ml-5">
                <img src="assets/images/51vg9UFoe4L._AC_SY200_kurti20.jpg" alt="" class=" ml-5">
                <img src="assets/images/81Mbv97XmSL._AC_SY200_kurti21.jpg" alt="" class="ml-5">
                <img src="assets/images/41RbHd+EwaL._AC_SY200_kurti22.jpg" alt="" class="ml-5">
                <img src="assets/images/61wZ49XilCL._AC_SY200_kurti23.jpg" alt="" class="ml-5">
                <img src="assets/images/71MIR1231xL._AC_SY200_kurti24.jpg" alt="" class="ml-5">
                <img src="assets/images/71p4PKIfjsS._AC_SY200_kurti25.jpg" alt="" class="ml-5">
                <img src="assets/images/41-2qrqCWaL._AC_SY200_kurti26.jpg" alt="" class="ml-5">
                <img src="assets/images/61ORDp1zylL._AC_SY200_kurti27.jpg" alt="" class="ml-5">
                <img src="assets/images/61JmZUFGXvL._AC_SY200_kurti28.jpg" alt="" class="ml-5">


            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>