<div class="row ">
  <div class="card ml-5">
    <div class="card-body">
      <h5 class="card-title"><b>Bluetooth Calling Smartwatch <br>Starts at Rs1,999</b></h5>
      <img src="assets/images/PC_CategoryCard_379X304_1._SY304_CB614835787_ watch.jpg" class="card-img-top"
        alt="Card image cap"><br>

      <a href="#">Shop now</a>
    </div>
  </div>
  <div class="card ml-3">
    <div class="card-body">
      <h5 class="card-title"><b>Up to 70% off | Clearance store</b></h5>
      <img class="card-img-top" src="assets/images/Clearance_store_Desktop_CC_1x._SY304_CB628315133_.jpg"
        class="card-img-top" alt="Card image cap"><br>
      <a href="#">Shop now</a>


    </div>
  </div>
  <div class="card ml-3">
    <div class="card-header"><b>Upto 60% off |  Styles for men</b></div>
      <div class="card-body">
          
       <div class="row ml-2">
        <div class=" card-fluid float-right  ">
          <img src="assets/images/MF-1-186-116._SY116_CB636110853_girl.jpg" alt=""><br>
          <span class="ml-2">Clothing</span>

        </div>
       
        <div class="card-fluid ml-5">
          <img src="assets/images/MF-2-186-116._SY116_CB636110853_shoes.jpg" alt=""><br>
          <span class="ml-2">Footwear</span>

        </div>
        
       <br><br><br>
       <div class="row ml-2">
        <div class="card-fluid float-right">
            <img src="assets/images/MF-3-186-116._SY116_CB636110853_watches.jpg" alt=""><br>
            <span class="ml-2">Watches</span>

          </div>

          
          

          <div class="card-fluid ml-5">
            <img src="assets/images/MF-4-186-116._SY116_CB636110853_bag.jpg" alt=""><br>
            <span class="ml-2">Bags and Luggage</span>

          </div>
       
      </div>
       </div>
       <br>
       <a href="##">See more offers</a>
      </div>
      </div>
 
  <div class="card ml-2">
    <div class="card-body">
      <h5 class="card-title"><b>Upto 60% off | styles for men</b></h5>
      <img class="card-img-top" src="assets/images/Laptops-Sept2019._CB436595915_.jpg" class="card-img-top"
        alt="Card image cap"><br>
      <a href="#">See more</a>

    </div>
  </div>


 
</div>
<div class="row ml-3">
  <div class="card ml-2">
    <div class="card-header"><h4>Starting Rs 99 | All your home improvements needs</h4></div>
      <div class="card-body">
          
       <div class="row ml-2">
        <div class=" card-fluid float-right  ">
          <img src="assets/images/QC-adapts_186x116_7._SY116_CB600489960_hammers.jpg" alt=""><br>
          <span class="">Hammers spinners<br> & more</span>
<br><br>
        </div>
       <br>
        <div class="card-fluid ml-5">
          <img src="assets/images/QC-adapts_186x116_5._SY116_CB600489960_plugs.jpg" alt=""><br>
          <span class="">Extension boards <br>& more </span>

        </div>
        
       <div class="row ml-2">
        <div class="card-fluid float-right">
            <img src="assets/images/QC-adapts_186x116_3._SY116_CB600489960_bathroom.jpg" alt=""><br>
            <span class="ml-2">Bathroom <br>hardware & <br> accessories</span>

          </div>

          
          
<br><br>
          <div class="card-fluid ml-5">
            <img src="assets/images/QC-adapts_186x116_4._SY116_CB600489960_wipes.jpg" alt=""><br>
            <span class="ml-2">spin mops ,wipes <br> & more </span>

          </div>
       
      </div>
       </div>
       <br>
       <a href="##">See more offers</a>
      </div>
      </div>
      <div class="card ml-3">
        <div class="card-header"><h4>Upto 60% off |  Styles for women</h4></div>
          <div class="card-body">
              
           <div class="row ml-2">
            <div class=" card-fluid float-right  ">
              <img src="assets/images/WF1-186-116._SY116_CB636048992_womenclothing.jpg" alt=""><br>
              <span class="ml-1">Women's Clothing</span>
    
            </div>
            <div class="card-fluid ml-3">
              <img src="assets/images/WF2-186-116._SY116_CB636048992_handbags.jpg" alt=""><br>
              <span class="">Footwear 
              + Handbags</span>
    
            </div>
            </div>
            <br>
           <div class="row ml-3">
            <div class="card-fluid float-right">
                <img src="assets/images/WF4-186-116._SY116_CB636048992_watchessss.jpg" alt=""><br>
                <span class="ml-3">Watches</span>
    
              </div>
    
              <br><br>
              
    
              <div class="card-fluid ml-4">
                <img src="assets/images/WF3-186-116._SY116_CB636048992_fashion jewellery.jpg" alt=""><br>
                <span class="ml-3">Fashion jwellery</span>
    
              </div>
           
          </div>
           <br><br>
           <a href="##">See all offers</a>
          </div>
          </div>
          <div class="card ml-3">
            <div class="card-header"><h4>Appliances for your home |<br> Up to 55% off</h4></div>
              <div class="card-body">
              
               <div class="row ml-2">
                <div class=" card-fluid float-right  ">
                  <img src="assets/images/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_ airconditioner.jpg" alt=""><br>
                  <span class="ml-2">Air Conditioner</span>
                  <br><br>

                </div>
               
                <div class="card-fluid ml-5">
                  <img src="assets/images/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_refrigirators.jpg" alt=""><br>
                  <span class="ml-2">Refrigerators</span>
        
                </div>
                
               <div class="row ml-2">
                <div class="card-fluid float-right">
                    <img src="assets/images/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_microware.jpg" alt=""><br>
                    <span class="ml-2">Microware</span>
        
                  </div>
        
                  
                  
        
                  <div class="card-fluid ml-5">
                    <img src="assets/images/186x116---wm._SY116_CB667322346_washingmachine.jpg" alt=""><br>
                    <span class="">Washing machines</span>
        
                  </div>
               
              </div>
               </div>
               <br><br>
               <a href="##">See more </a>
              </div>
              </div>
              <div class="card ml-3">
                <div class="card-header"><h4>Revamp your home in style</h4></div>
                  <div class="card-body">
                      
                   <div class="row ml-2">
                    <div class=" card-fluid float-right  ">
                      <img src="assets/images/372x232_1_Low._SY116_CB670263840_bedsheets.jpg" alt=""><br>
                      <span class="ml-2">Bedsheets <br>curtains & more</span>
            <br><br>
                    </div>
                   
                    <div class="card-fluid ml-5">
                      <img src="assets/images/372x232_2_Low._SY116_CB670263840_homedecoration.jpg" alt=""><br>
                      <span class="ml-2">Home decoration</span>
            
                    </div>
                    
                   <br><br><br>
                   <div class="row ml-2">
                    <div class="card-fluid float-right">
                        <img src="assets/images/372x232_3_Low._SY116_CB670263840_homeStorage.jpg" alt=""><br>
                        <span class="ml-2">Home Storage</span>
            
                      </div>
            
                      
                      
            
                      <div class="card-fluid ml-5">
                        <img src="assets/images/372x232_4_Low._SY116_CB670263840_lighting.jpg" alt=""><br>
                        <span class="ml-2">Lighting solutions</span>
            
                      </div>
                   
                  </div>
                   </div>
                   <br><br>
                   <a href="##">Explore all</a>
                  </div>
                  </div>
                         
</div>
