<div class="row ml-5 ">
    <h2 class="ml-2">Gifts that you give to someone
            </h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active  ml-5">
                <img src="assets/New folder/61y2VVWcGBL._AC_SY200_gift1.jpg" alt="" class="ml-5">
                <img src="assets/New folder/61cwywLZR-L._AC_SY200_gift2.jpg" alt="" class="ml-5">
                <img src="assets/New folder/81fOvheIt1L._AC_SY200_gift3.jpg" alt="" class="vashine ml-5">
                <img src="assets/New folder/812YsUxpyfL._AC_SY200_gift4.jpg" alt="" class="ml-5">
                <img src="assets/New folder/81Prc5i7hML._AC_SY200_gift5.jpg" alt="" class="ml-5">
                <img src="assets/New folder/81-fFXQdPTL._AC_SY200_gift6.jpg" alt="" class="ml-5">
                
            </div>
            <div class="carousel-item  ml-5 ">
                <img src="assets/New folder/81t6Av5DvXL._AC_SY200_gift7.jpg" alt="" class="ml-5">
                <img src="assets/New folder/814ePfNubRL._AC_SY200_gift8.jpg" alt="" class="ml-5">
                <img src="assets/New folder/51aBTOiXRlL._AC_SY200_gift9.jpg" alt="" class="ml-5">
                <img src="assets/New folder/51xxA+6E+xL._AC_SY200_gift10.jpg" alt="" class="ml-5">
                <img src="assets/New folder/819bwF7gjfL._AC_SY200_gift11.jpg" alt="" class="ml-5">
                <img src="assets/New folder/61fDxgcyBDL._AC_SY200_gift12.jpg"  class="ml-5">


            </div>
        

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
