 <nav class="navbar navbar-expand bg-dark justify-content-imline ">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-dark" href="#"><i class="fas fa-list mr-1">All</i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Amazon Mini Tv</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Best Sellers</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Today's Deals</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">New Releases</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Customer service</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Prime<select></select></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Electronics</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Home & Kitchen</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">Fashion</a>
                </li>
                <li class="nav-item">
                 <a href="" class="btn btn-dark">New launches |Easily Shop here</a>
                </li>
            </ul>
         </nav>