<div class="card ml-2 mt-5">
    <div class="card-body">
        <h5 class="card-title">
            <h4>Today's deal <span><a href="###" class="text-primary ml-5"> See all offers</a></span></h4>
        </h5>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item ">
                    <div class="row">
                        <div class="mx-auto items">
                            <div class="card">
                                <img src="assets/images/31uoncbEmvL._AC_SY200_oneplus oppo.jpg" alt="image"
                                    class="card-img-top" id="pizza">
                                <div class="card-body">
                                    <div class="card-text">
                                        <span>
                                            <a href="####">
                                                <h6 class=" item-name text-capitalize "><span
                                                        class="btn-danger ml-2">Upto 60% off</span> <span
                                                        class="ml-2 text-danger"><b>Deal of the day</b></span></h6><br>
                                                Offers on <br> Oneplus & Oppo Accessories
                                            </a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto items sandwich">
                            <div class="card">
                                <div class="img-container">
                                    <img src="assets/images/41T3K9IipcL._AC_SY200_newlyLaunchesassceesories.jpg"
                                        alt="image" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <a href="##">
                                            <h6 class="item-name text-capitalize"><span class="btn-danger ml-2">Upto 78%
                                                    off </span>
                                                <span class="ml-2 text-danger">Ends in 00:00</span>
                                            </h6><br>
                                            Newly Launched <br> Accessories for Phones

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto items burger">
                            <div class="card">
                                <div class="img-container">
                                    <img src="assets/images/41-dSLW1RVL._AC_SY200_vivoa7.jpg" alt="image"
                                        class="card-img-top" id="magic">
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <a href="##">
                                            <h6 class="item-name text-capitalize"><span class="btn-danger ml-2">Up to
                                                    20% off</span>
                                                <span class="ml-2 text-danger">Ends in 03:05:05 </span>
                                            </h6><br>
                                            All Nwe Vivo V27 <br> 6GB RAM 128GB ROM

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto items icecream">
                            <div class="card">
                                <div class="img-container">
                                    <img src="assets/images/31fqeIAwrUL._AC_SY200_appleairpods.jpg" alt="image"
                                        class="card-img-top" id="airpods">
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <h6 class="item-name text-capitalize"><span class="btn-danger ml-2">Up to 50%
                                                odd</span>
                                            <span class="text-danger ml-2">Ends in 04:05:04</span>
                                        </h6><br>
                                        Apple Airpods <br>
                                        Starting Rs 13,999

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto items coldrink filter">
                            <div class="card">
                                <div class="img-container">
                                    <img src="assets/images/81TBkVDGeGL._AC_SY200_bata.jpg" alt="image"
                                        class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 40%
                                                off</span>
                                            <span class="text-danger ml-2">Deal of the day</span>
                                        </h6><br>
                                        Best Style sof <br>Bata,Hush Puppies

                                    </div>
                                </div>
                            </div>
                        </div>








                    </div>
                </div>

                <div class="carousel-item  ">
                    <div class="row">
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/91KPzoAe-eL._AC_SY200_hushPuppies.jpg" alt="image"
                                    class="card-img-top ">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 45%
                                            off</span>
                                        <span class="text-danger ml-2">Ends in 04:05:04</span>
                                    </h6><br>
                                    Bata,Hush Puppies <br>& more

                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/41uGjvXbeBL._AC_SY200_ pcElectronics.jpg" alt="image"
                                    class="card-img-top">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 95%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Best offers on<br>PC and Electronics access..

                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/51kdwtY1KvL._AC_SY200_wallpapers.jpg" alt="image"
                                    class="card-img-top">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 87%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Wallpapers from Woplin
                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/61SVXEAfwoL._AC_SY200_storageOrganisers.jpg" alt="image"
                                    class="card-img-top">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 67%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Great savings on <br>Storage and <br> Organisers

                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/51MTW5OKkUS._AC_SY200_wallpapersFromWoplin.jpg"
                                    alt="image" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 87%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Wallpapers from Woplin
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item active  ">
                    <div class="row">
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/41sx753+kXL._AC_SY200_SmartBulb.jpg" alt="image"
                                    class="card-img-top ">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 70%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Lowest prices <br>on Smart Bulbs

                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/41uyuBjC53L._AC_SY200_Paragonfootwear.jpg" alt="image"
                                    class="card-img-top cards">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 50%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Best offers on<br>Paragon Footwear

                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/51dtEUJ0gbL._AC_SY200_assianFootwear.jpg" alt="image"
                                    class="card-img-top">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 50%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Starting 299 -ASIAN<br>Footwear Collect..
                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/41lHFyDCD2L._AC_SY200_shoeAccessories.jpg" alt="image"
                                    class="card-img-top cards">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 44%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Shoe accessories: <br> SHOEGER,PRO CARE..
                                </div>
                            </div>
                        </div>
                        <div class="card ml-3">
                            <div class="img-container">
                                <img src="assets/images/41V5ycgiwEL._AC_SY200_readChiefFootwear.jpg" alt="image"
                                    class="card-img-top">
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <h6 class="item-name text-capitalize"> <span class="btn-danger ml-2">Up to 55%
                                            off</span>
                                        <span class="text-danger ml-2">Deal of the day</span>
                                    </h6><br>
                                    Best offers on <br>Red Chief footwear
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>